@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.cyber-grid {
  background-image: 
    linear-gradient(to right, rgba(63, 63, 70, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(63, 63, 70, 0.15) 1px, transparent 1px);
  background-size: 3.5rem 3.5rem;
  
  -webkit-mask-image: radial-gradient(ellipse 60% 50% at 50% 0%, #000 70%, transparent 100%);
  mask-image: radial-gradient(ellipse 60% 50% at 50% 0%, #000 70%, transparent 100%);
}
